@import "css/reset.css";
@import "css/typography.css";
@import "css/layout.css";


/* Utiliy */

* {  font-family: 'Nobile', arial, serif; }
.clear { clear: both; }
a { color: #555418; }

/* Content */

body {
  background: #8C8A8A;
  color: #423C33;
}

.wraper {
  width: 960px;
  margin: 0 auto; 
}

.main-content {
  background: url(images/main_bg.gif) repeat-x #f5f5f5;
  border-left: 1px solid #acad92;
  border-right: 1px solid #acad92;
  border-bottom: 1px solid #acad92;
  padding-bottom: 30px;
}


/* Header */

.header {
  background: url(images/header.gif) no-repeat;
  height: 136px;
}

.header h1 {
  width: 450px;
  float: right;
  text-align: center;
  margin: 25px 30px 0 0;
}

.header h1 a{
  color: #d4d78b;
  font-weight: normal;
  font-size: 25px;
  font-family: 'Nobile', arial, serif;
  text-decoration: none;
}

.navigation {
  background: url(images/menu.gif) repeat-x;
  border-left: 1px solid #acad92;
  border-right: 1px solid #acad92;
  height: 41px;
  padding-left: 20px;
}

.menu {
  width: 700px;
  float: left
}

.menu li {
  float: left;
  padding: 7px 15px;
}

.menu li a {
  color: #555418;
  text-decoration: none;
  font-size: 14px;
}

.menu li a:hover,
.current_page_item {
  text-decoration: underline;
}

.social {
  float: right;
  margin: 5px 30px -2px 0;
}

.social a {
  margin: 0 3px;
}


/* Main page */

.main-page .post {
  float: left;
  font-size: 14px;
  margin: 45px 0 0 25px;
  text-align: justify;
  width: 380px;
  color: #423C33;
}

.post strong {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1px;
}

.slider {
  background: url(images/slider.gif) no-repeat;
  float: right;
  height: 300px;
  margin-top: 38px;
  width: 520px;
  padding: 3px 10px;
}

.boxes {
  padding: 0 0 0 10px;
  margin-top: 20px;
}

.box {
  background: url("images/box.gif") no-repeat scroll 0 0 transparent;
  float: left;
  font-size: 13px;
  padding: 20px 23px;
  width: 270px;
}


/* Page */

.page-top .boxes {
  padding: 20px 0 20px 10px;
  margin-top: 0;
}

.page-body {
  float: left;
  font-size: 14px;
  padding: 40px 35px 0 35px;
  width: 640px;
}

.page-body h1,
.page-body h2,
.post h2 {
  font-size: 20px;
  margin: 0 0 15px;
}

.page-body p {
  margin-bottom: 15px;
}

.posted-on,
.posted-in,
.links,
.logged-in-as,
.form-allowed-tags {
  font-size: 12px;
  color:#666;
  margin: 10px 0;
}

/* Sidebar */

.sidebar {
  width: 200px;
  float: left;
  font-size: 14px;
  margin-top: 30px;
}

#search-2 {
  margin-bottom: 20px;
}


/* Comments */

.comments {
  margin: 30px 0;
}

.comment-form-comment label {
  display: block;
  margin-bottom: 15px;
}

.comment-form-comment textarea {
height: 140px;
    width: 627px;

}

/* Footer */

.footer {
  margin: 20px 0;
  text-align: center;
}

.footer a {
  color: #666;
  font-size: 12px;
}

.footer-sidebar {
  margin: 20px auto;
  width: 960px;
}

.footer-sidebar ul {
  float: left;
  width: 240px;
}
